html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

button {
  background-color: #D9E2F3;
  height: 6rem;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: #000000;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  transition-duration: 10ms;
  cursor: -webkit-grab;
  cursor: grab;
}
button:hover {
  background-color: aquamarine;
}
button:active {
  background-color: aliceblue;
}

.calc_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  order: 1;
}
.calc_container #equal {
  grid-column: 3/4;
  grid-row: 7/8;
}
.calc_container #header {
  grid-column: 2/5;
  grid-row: 1/2;
}
.calc_container #display {
  grid-column: 2/5;
  grid-row: 2/3;
  background-color: #D5DCE4;
  text-align: center;
  border-color: #000000;
  border-width: 5px;
  font-size: x-large;
}
.calc_container #clear {
  grid-column: 2/5;
  grid-row: 3/4;
}
.calc_container #seven {
  grid-column: 2/3;
  grid-row: 4/5;
}
.calc_container #eight {
  grid-column: 3/4;
  grid-row: 4/5;
}
.calc_container #nine {
  grid-column: 4/5;
  grid-row: 4/5;
}
.calc_container #four {
  grid-column: 2/3;
  grid-row: 5/6;
}
.calc_container #five {
  grid-column: 3/4;
  grid-row: 5/6;
}
.calc_container #six {
  grid-column: 4/5;
  grid-row: 5/6;
}
.calc_container #one {
  grid-column: 2/3;
  grid-row: 6/7;
}
.calc_container #two {
  grid-column: 3/4;
  grid-row: 6/7;
}
.calc_container #three {
  grid-column: 4/5;
  grid-row: 6/7;
}
.calc_container #round {
  grid-column: 2/3;
  grid-row: 7/8;
}
.calc_container #zero {
  grid-column: 3/4;
  grid-row: 7/8;
}
.calc_container #decimal {
  grid-column: 4/5;
  grid-row: 7/8;
}
.calc_container #settings {
  grid-column: 5/6;
  grid-row: 1/2;
}
.calc_container #redo {
  grid-column: 5/6;
  grid-row: 2/3;
}
.calc_container #divide {
  grid-column: 5/6;
  grid-row: 3/4;
}
.calc_container #multiply {
  grid-column: 5/6;
  grid-row: 4/5;
}
.calc_container #subtract {
  grid-column: 5/6;
  grid-row: 5/6;
}
.calc_container #add {
  grid-column: 5/6;
  grid-row: 6/7;
}
.calc_container #equal {
  grid-column: 5/6;
  grid-row: 7/8;
}
.calc_container .nums {
  background-color: #F2F2F2;
  transition-duration: 10ms;
}
.calc_container .nums:hover {
  background-color: lightgray;
}
.calc_container .nums:active {
  background-color: gray;
}

div.op_container {
  background-color: #D0CECE;
  width: 100%;
  height: 20%;
  order: 2;
}

div.sci_container {
  background-color: #E2EFD9;
  width: 100%;
  height: 20%;
  order: 3;
}

@media only screen and (min-width: 950px) {
  div.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  div.op_container {
    order: 1;
  }
  div.calc_container {
    order: 2;
  }
  div.sci_container {
    order: 3;
  }
}/*# sourceMappingURL=styles.css.map */