html{
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    height: 100%;
}

div.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

button{
    background-color: #D9E2F3;
    height: 6rem;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    color: #000000;
    text-shadow: 0 1px rgba(255,255,255,.4);
    transition-duration: 10ms;
    cursor:grab;

    &:hover{
        background-color: aquamarine;
    }

    &:active{
        background-color: aliceblue;
    }
}



.calc_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    order: 1;

    #equal{
        grid-column: 3/4;
        grid-row: 7/8;
    }

    #header{
        grid-column: 2/5;
        grid-row: 1/2;
    }

    #display{
        grid-column: 2/5;
        grid-row: 2/3;
        background-color: #D5DCE4;
        text-align: center;
        border-color: #000000;
        border-width: 5px;
        font-size: x-large;
    }

    #clear{
        grid-column: 2/5;
        grid-row: 3/4;
    }

    #seven{
        grid-column: 2/3;
        grid-row: 4/5;
    }

    #eight{
        grid-column: 3/4;
        grid-row: 4/5;
    }

    #nine{
        grid-column: 4/5;
        grid-row: 4/5;
    }

    #four{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    #five{
        grid-column: 3/4;
        grid-row: 5/6;
    }

    #six{
        grid-column: 4/5;
        grid-row: 5/6;
    }

    #one{
        grid-column: 2/3;
        grid-row: 6/7
    }

    #two{
        grid-column: 3/4;
        grid-row: 6/7;
    }

    #three{
        grid-column: 4/5;
        grid-row: 6/7;
    }

    #round{
        grid-column: 2/3;
        grid-row: 7/8;
    }

    #zero{
        grid-column: 3/4;
        grid-row: 7/8;
    }

    #decimal{
        grid-column: 4/5;
        grid-row: 7/8;
    }

    #settings{
        grid-column: 5/6;
        grid-row: 1/2;
    }

    #redo{
        grid-column: 5/6;
        grid-row: 2/3;
    }

    #divide{
        grid-column: 5/6;
        grid-row: 3/4;
    }

    #multiply{
        grid-column: 5/6;
        grid-row:4/5;
    }

    #subtract{
        grid-column:5/6;
        grid-row: 5/6;
    }

    #add{
        grid-column: 5/6;
        grid-row: 6/7;
    }

    #equal{
        grid-column: 5/6;
        grid-row: 7/8;
    }

    .nums{
        background-color: #F2F2F2;
        transition-duration: 10ms;
    }

    .nums:hover{
        background-color: lightgray;


    }

    .nums:active{
        background-color: gray;
    }
}

div.op_container{
    background-color: #D0CECE;
    width: 100%;
    height: 20%;
    order: 2;
}

div.sci_container{
    background-color: #E2EFD9;
    width: 100%;
    height: 20%;
    order: 3;
}

@media only screen and (min-width: 950px){
    div.wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div.op_container{
        order: 1;
    }

    div.calc_container{
        order: 2;
    }

    div.sci_container{
        order: 3;
    }
}